@font-face {
    font-family: 'nature';
    src: url('fonts/Paris\ Forbel\ TTF.ttf')format('truetype')
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url('imagens/natureza-high.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

header {
    font

}
header h1 {

}
nav {zzzz

}
.body-login {


}

input#email {

}
input#password {

}
p#join {

}
.login-back {

}
section#back-follows {


}