@charset "UTF-8";
@font-face {
    font-family: 'Good' ;
    src: url('fonts/ChettaVissto.ttf')format('truetype')
}
body {
    background: rgb(35, 102, 190);
    font: normal 15pt 'arial';
}
header {
    font-family: 'good';
    font-size: 26px;
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
}
footer {
    text-align: center;
    
    color: white;
}

img#imagem {
    min-width: 100%;
    max-height: 400px;
    border-radius: 2%;
}
div#foto {
    padding: 10px;
}
div {
    
    font-size: 24px;
}